<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{{ title }} - Мой проект</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в мой проект!</h1>
        <h2>Более продвинутый чем те же самые заметки</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('main_bp.home') }}">Главная</a></li>
                <li><a href="{{ url_for('add_bp.add') }}">Добавление статьи</a></li>
                <li><a href="{{ url_for('main_bp.profile') }}">Профиль</a></li>
            </ul>

            {% if current_user.is_authenticated %}
            <p>Привет, {{ current_user.username }}!</p>
            <a href="{{ url_for('auth_bp.logout') }}">Выйти из аккаунта</a>
            {% else %}
            <p>Вы не авторизованы</p>
            <a href="{{ url_for('auth_bp.auth') }}">Войти в аккаунт</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Мой проект. Все права защищены.</p>
    </footer>
</body>
</html>