{% extends 'base.html' %}

{% from '_formhelpers.html' import render_field %}

{% block content %}
    <article style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
        <p>Автор: {{ post.author.username }}</p>
    </article>
    <hr>
    <div class="likes-section">
        <button class="like-button" data-post-id="{{ post.id }}">
            <span class="like-icon">
                {% if current_user.is_authenticated and current_user in post.liked_by_users %}
                ❤️
                {% else %}
                🤍
                {% endif %}
            </span>
            <span class="like-count">{{ post.likes_count }}</span> лайков
        </button>
    </div>
    <hr>
    <h4>Комментарии (<span id="comment-count">{{ post.comments.count() }}</span>)</h4>
    <div id="comments-container">
        {% for comment in comments %}
        <div class="comment" id="comment--{{ comment.id }}">
            <p><strong>{{ comment.author.username }}</strong> (<small>{{ comment.date_created.strftime('%Y-%m-%d %H:%M') }}</small>)</p>
            <p>{{ comment.text }}</p>
        </div>
        {% else %}
        <p id="no-comments-placeholder">Здесь пока нет комментариев, будь первым братан!</p>
        {% endfor %}
    </div>

    {% if current_user.is_authenticated %}
        <form id="comment-form" data-post-id="{{ post.id }}" method="post" novalidate>
            {{ form.hidden_tag() }}

            <h5>Оставить комментарий</h5>
            <div id="comment-error" style="color: red; display: none;"></div>

            <div>
                {{ render_field(form.text) }}
                {{ render_field(form.submit, class_='btn btn-primary') }}
            </div>
        </form>
    {% else %}
        <p>Чтобы оставить комментарий, пожалуйста <a href="{{ url_for(auth_bp.auth) }}">Войдите</a> в аккаунт</p>
    {% endif %}
{% endblock %}