{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; margin: 25px;">
    <div style="display: flex; flex-direction: column; align-items: start;">
        <h2>Все статьи здесь:</h2>

        {% for post in posts %}
        <hr>
            <article>
                <a href="{{ url_for('main_bp.detail_post', post_id=post.id) }}">{{ post.title }}</a>
                <p>{{ post.content[:200] }}...</p>
                <p>{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>Автор: {{ post.author.username }}</p>  
            </article>
        <hr>
        {% endfor %}
    </div>

    <div style="display: flex; flex-direction: column; align-items: end;">
        <h2>Ваши статьи здесь:</h2>

        {% for user_post in user_posts %}
            <article style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                <h3>{{ user_post.title }}</h3>
                <p>{{ user_post.content }}</p>
                <p>{{ user_post.date_posted.strftime('%Y-%m-%d %H:%M') }}</p>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}