{% extends 'base.html' %}

{% from '_formhelpers.html' import render_field %}

{% block content %}
<div>
    <h1 style="text-align: center;">Регистрация</h1>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="form-signin w-100 m-auto">
            <form method="post" action="{{ url_for('register_bp.register') }}" style="margin-left: 30%; margin-right: 30%;"> 
                {{ form.hidden_tag() }}
                <img style="display: flex; justify-self: center;" class="mb-4" src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип" width="100" height="100">

                <h1 style="text-align: center;" class="h3 mb-3 fw-normal">Пожалуйста Зарегистрируйтесь</h1>
                
                <div class="form-floating"> 
                    {{ render_field(form.username, class="form-control", placeholder="Ваш username") }}
                </div>
                <div class="form-floating"> 
                    {{ render_field(form.email, class="form-control", placeholder="Электронная почта") }}
                </div>
                <div>
                    {{ render_field(form.password, class="form-control", placeholder="Пароль") }}
                </div> 
                <div>
                    {{ render_field(form.confirm, class="form-control", placeholder="Подтверждение пароля") }}
                </div> 
                <button class="btn btn-primary w-100 py-2" type="submit">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}